<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webform </title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Fonts/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Fonts/css/style.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


    <!-- Humberger Begin -->

    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>



        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>

            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@tdtu.edu.vn</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        @*<div class="header__top__left">
                            <a  href="@Url.Action("DangKy","Home")" >Đăng kí</a>
                        </div>*@
                    </div>
                    <div class="col-lg-2 col-md-2">
                        @*<div class="header__top__right">
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Login</a>

                        </div>
                        </div>*@
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                            </button>
                            <div class="dropdown-menu">
                                @if (Session["idUser"] != null)
                                {
                                    <a class="dropdown-item disabled d-flex justify-content-center" href="#">@Session["FullName"]</a>
                                    <a href="~/Home/Logout" class="btn btn-warning d-flex justify-content-center">Đăng xuất</a>
                                }
                                else
                                {
                                    <a class="dropdown-item d-flex justify-content-center" href="@Url.Action("DangNhap","Home")">Đăng nhập</a>
                                    <a class="dropdown-item d-flex justify-content-center" href="@Url.Action("DangKy","Home")">Đăng kí</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 ">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                           

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-6">
                    <div class="header__cart">
                        <ul>

                            <li><a href="@Url.Action("Index","Cart")"><i class="fa fa-shopping-bag"></i> <span>@Session["count"]</span></a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>


</body>
@RenderBody()

</html>